


.tabs {
  text-align: center;
  margin-top: 1rem;
}
.tab {
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  background-color: #ccc;
  border-radius: 5px;
}
.tab.active {
  background-color: #FFD000;
}

main {
  margin-top: 1rem;
  padding: 0 1rem;
}

.panel {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.columna {
  background-color:white;
  padding: 1rem;
  border-radius: 8px;
  flex: 1;
  min-width: 200px;
}

.columna.izquierda {
  flex: 0.5;
}

.columna.personas {
  flex: 0.5;
}

.columna.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.columna.chat.grande {
  flex: 2;
}

.anuncios li,
.personas li {
  list-style: none;
  padding: 8px;
  margin: 4px 0;
  background: #eee;
  cursor: pointer;
  border-radius: 4px;
}

.personas li.activo {
  background-color: #FFD000;
  font-weight: bold;
}

.chat-box {
  flex: 1;
  border: 1px solid #ddd;
  background: #fff;
  padding: 1rem;
  height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
  border-radius: 6px;
}

.chat-input {
  display: flex;
  gap: 0.5rem;
}

.chat-input input {
  flex: 1;
  padding: 0.5rem;
}

.chat-input button {
  background-color: #FFD000;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.mensaje {
  margin-bottom: 0.5rem;
  padding: 5px 10px;
  border-radius: 8px;
  max-width: 75%;
}

.mensaje.enviado {
  background-color: #D1F2EB;
  align-self: flex-end;
  text-align: right;
}

.mensaje.recibido {
  background-color: #FDEBD0;
  align-self: flex-start;
  text-align: left;
}

.seccion {
  display: none;
}
.seccion.visible {
  display: block;
}
